<h1>All Messages</h1>
<%= link_to 'New chat', newMessage_path(0), :class => 'btn btn-primary' %>
<%= link_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger' %>
<table class="table">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.tsender %></td>
      <td><%= message.treceiver %></td>
      <td><%= message.content %></td>
    </tr>
   <% end %>
  </tbody>
</table>